{% macro input(label, name, errors, value="", type="text", placeholder="") -%}
  <div class="form-group">
    <label>{{ label }}</label>
    <input class="form-control" type="{{ type }}" value="{{ value }}" name="{{ name }}" placeholder="{{ placeholder }}" >
    
    {% for error in errors %}
      <small class="form-text text-muted">{{ error }}</small>
    {% endfor %}
  </div>
{%- endmacro %}

{% macro skill(skill) -%}
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">{{ skill.name }}</h5>

    <ul class="list-group list-group-flush">
      {% for experience in skill.experiences %}
      <li class="list-group-item">{{ experience.experience_type}}, {{ experience.experience}}</li>
        {% endfor %}
    </ul>
  </div>
</div>
{%- endmacro %}