{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block body %}
{{ macros.banner("Skill 'Em all") }}

  <div class="row">
    <div class="col text-center m-4">
        <blockquote class="blockquote">
          <p>One app to skill 'em all,</p>
          <p>one app to find them.</p>
          <p>One app to bring 'em all</p>
          <p>and in the projects bind them.</p>
          <footer class="blockquote-footer"><cite>Old Elvish rhyme</cite></footer>
        </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col text-center m-4">
      <h2 class="mb-4">Why Skill 'Em All?</h2>
      <p>Find people with specific skills for your projects</p>
      <p>Yeah, that's about it</p>
    </div>
  </div>
{% endblock %}