{% macro input(label, name, errors, value="", type="text", placeholder="") -%}
  <div class="form-group">
    <label for="{{ name }}">{{ label }}</label>
    <input id="{{ name }}" class="form-control" type="{{ type }}" value="{{ value }}" name="{{ name }}" placeholder="{{ placeholder }}" >
    
    {% for error in errors %}
      <small class="form-text text-muted">{{ error }}</small>
    {% endfor %}
  </div>
{%- endmacro %}

{% macro skill_table(skills) -%}
  {% for skill in skills %}
  {% set sum  = skill.experiences | sum(attribute='experience') / 12 %}
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">{{ skill.name }}</th>
        <th scope="col">{{ sum | round(1) }} years</th>
      </tr>
    </thead>
    <tbody>
    {% for experience in skill.experiences %}
      <tr>
        <th scope="row">{{ experience.experience_type }}</th>

        {% if experience.experience > 0 %}
          <td>{{ (experience.experience / 12) | round(1) }} years</td>
        {% else %}
          <td>No experience</td>
        {% endif %}
      </tr>
    {% endfor%}
    </tbody>
  </table>
  {% endfor %}
{%- endmacro %}

{% macro banner(text) -%}
<div class="row">
  <div class="col text-center" style="background-color: red;">
    <h1 class="m-4">
      {{ text }}
    </h1>
  </div>
</div>
{%- endmacro %}
