{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block body %}
<div class="row m-4">
  <div class="col">
    <h2 class="text-center">Create project</h2>
    <form method="POST" action="{{ url_for('projects_create') }}" class="form">
      
      {{ macros.input(form.name.label, "name", form.name.errors) }}
      {{ macros.input(form.start_date.label, "start_date", form.start_date.errors, type="date") }}
      {{ macros.input(form.end_date.label, "end_date", form.end_date.errors, type="date") }}

      <input type="submit" class="btn btn-dark" style="width: 100%;" value="Create"/>
    </form>
  </div>
</div>
{% endblock %}