{% extends "layout.html" %}
{% import "forms.html" as forms %}

{% block body %}
<div class="row m-4">
  <div class="col">
    <h2 class="text-center">Create project</h2>
    <form method="POST" action="{{ url_for('projects_create') }}" class="form">
      
      {{ forms.input(form.name.label, "name", form.name.errors) }}
      {{ forms.input(form.start_date.label, "start date", form.start_date.errors) }}
      {{ forms.input(form.end_date.label, "end date", form.end_date.errors) }}

      <input type="submit" class="btn btn-dark" style="width: 100%;" value="Create"/>
    </form>
  </div>
</div>
{% endblock %}