{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block body %}

{{ macros.banner("My projects") }}

<div class="row m-4">
  <div class="col">
    {% for project in projects if project %}
    <div class="card mb-3">
        <div class="card-header">
          <h2 class="card-title">{{ project.name }}</h2>
        </div>
        <div class="card-body">
            <a href="{{ url_for('projects_manage', project_id=project.id) }}">Manage project -></a>
        </div>
      </div>
    {% endfor %}

    {% if projects | length == 0 %}
      <h4 class="text-center">No projects to show</h4>
    {% endif %}
  </div>
</div>
{% endblock %}