{% extends "layout.html" %}

{% block body %}
<div class="row mt-4 mb-4">
  <div class="col">
    <h1>{{ project.name }} </h1>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-4">
    <p class="text-muted">Started: {{ project.start_date }}</p>
  </div>
  <div class="col-12 col-md-4">
    <p class="text-muted">Estimated end time: {{ project.end_date }}</p>
  </div>
  <div class="col-12 col-md-4">
    <form class="my-2 my-lg-0 p-1" method="POST" action="{{ url_for('project_set_inactive', project_id=project.id) }}">
      <input type="submit" class="btn btn-danger my-2 my-sm-0" style="width: 100%;" value="Close project"/>
    </form>
  </div>
</div>
<div class="row m-4">
  <div class="col-12 col-md-6">
    <h2>Staff in this project</h2>
    
    {% for employee in project.staff %}
    <div class="card mb-3">
        <div class="card-header">
          {{ employee.name }}
        </div>
        <div class="card-body">
          <h5 class="card-title">Skills</h5>

          {% for skill in employee.skills %}
          <p>{{ skill.name }}</p>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="col-12 col-md-6">
    <h2>Skills in this project</h2>
    
  </div>
</div>
{% endblock %}