{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block body %}

{{ macros.banner("Search people by their skill") }}

<div class="row m-4">
    <div class="col">
        <form class="form-inline my-2 my-lg-0 justify-content-center" action="{{ url_for('accounts_get') }}">
            <input class="form-control mr-sm-2" name="skill" type="search" placeholder="Skill to search" aria-label="Search">
            <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>

{% if search_term %}
<div class="row m-4">
    <div class="col text-center">
        <h2>results for search: '{{ search_term }}'</h2>
    </div>
</div>
{% endif %}

{% for account in accounts %}
<div class="row">
    <div class="col main">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">{{ account.name }}</h2>
                <h6 class="card-subtitle text-muted mt-2">{{ account.profile_info or "" }}</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h3 class="card-title text-center">Skills</h3>
                        <div class="card-body table-responsive">
                            {{ macros.skill_table(account.skills) }}
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <h3 class="card-title text-center">Add to project</h3>
                        {% for project in projects %}
                        <form class="my-2 my-lg-0 p-1 justify-content-center" method="POST" action="{{ url_for('projects_add_staff', project_id=project.id, account_id=account.id) }}" class="form">
                            <input type="submit" class="btn btn-danger" style="width: 100%;" value="{{ project.name }}"/>
                        </form>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}