{% extends "layout.html" %}
{% import "forms.html" as forms %}

{% block body %}
<div class="row m-4">
    <div class="col">
        {% for account in accounts %}
        <div class="card mb-3 form">
            <div class="card-header">
                <h5 class="card-title">{{ account.name }}</h5>
            </div>
            <div class="card-body">
                <h6>Skills:</h6>
                
                {% for skill in account.skills %}
                <div class="card mb-2">
                    <div class="card-body">
                      <h5 class="card-title">{{ skill.name }}</h5>
            
                      <ul class="list-group list-group-flush">
                        {% for experience in skill.experiences %}
                        <li class="list-group-item">{{ experience.experience_type}}, {{ experience.experience}}</li>
                        {% endfor %}
                      </ul>
                    </div>
                </div>    
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}