{% extends "layout.html" %}
{% import "macros.html" as macros %}
{% block body %}

<div class="row">
  <div class="col m-4">
    <h2 class="text-center">Register an account</h2>
    <small class="text-center">{{ error }}</small>
    <form method="POST" action="{{ url_for('accounts_create') }}" class="form">

      {{ macros.input(form.name.label, "name", form.name.errors) }}
      {{ macros.input(form.username.label, "username", form.username.errors) }}
      {{ macros.input(form.password.label, "password", form.password.errors, type="password") }}
      {{ macros.input(form.email.label, "email", form.email.errors) }}
      
      <input type="submit" class="btn btn-dark" style="width: 100%;" value="Create account" block />
    </form>
  </div>
</div>
{% endblock %}