{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block body %}
<div class="row m-4">
  <div class="col">
    <h2>{{ account.name }} </h2>
  </div>
</div>
<div class="row m-4">
  <div class="col-12 col-md-4">
    <h2>Account info</h2>
    <p>Username: {{ account.username }}</p>
    <p>Email: {{ account.email or '' }}</p>
    <p>Profile info: {{ account.profile_info or '' }}</p>

    <form class="my-2 my-lg-0 p-1" method="POST" action="{{ url_for('accounts_delete', account_id=account.id) }}">
      <input type="submit" class="btn btn-danger my-2 my-sm-0" style="width: 100%;" value="Delete account"/>
  </form>
  </div>
  <div class="col-12 col-md-8">
    <h2 class="text-center">Update your profile</h2>
    <form method="POST" action="{{ url_for('accounts_update', account_id=current_user.id) }}" class="form">

      {{ macros.input(form.name.label, "name", form.name.errors, form.name.data) }}
      {{ macros.input(form.password.label, "password", form.password.errors, type="password", placeholder="give new password in order to change") }}
      {{ macros.input(form.email.label, "email", form.email.errors, form.email.data or '') }}
      {{ macros.input(form.profile_info.label, "profile_info", form.profile_info.errors, form.profile_info.data or '' ) }}

      <input type="submit" class="btn btn-dark" style="width: 100%;" value="Update account"/>
    </form>
  </div>
</div>
{% endblock %}