{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block body %}

{{ macros.banner("Search people by their skill") }}

<div class="row m-4">
    <div class="col">
        <form class="form-inline my-2 my-lg-0 justify-content-center" action="{{ url_for('accounts_get') }}">
            <input class="form-control mr-sm-2" name="skill" type="search" placeholder="Skill to search" aria-label="Search">
            <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>

{% if search_term %}
<div class="row m-4">
    <div class="col text-center">
        <h2>results for search: '{{ search_term }}'</h2>
    </div>
</div>
{% endif %}

{% for account in accounts %}
<div class="row">
    <div class="col">
        <h3 style="width: 100%; text-align: center;">{{ account.name }}</h3>
    </div>
</div>
<div class="row m-4" style="background-color: red;">
    <div class="col-12 col-md-6 p-3">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">Add {{ account.name }} to one of your projects</h5>
            </div>
            <div class="card-body">
                {% for project in projects %}
                <form class="my-2 my-lg-0 p-1 justify-content-center" method="POST" action="{{ url_for('projects_add_staff', project_id=project.id, account_id=account.id) }}" class="form">
                    <input type="submit" class="btn btn-dark my-2 my-sm-0" style="width: 100%;" value="{{ project.name }}"/>
                </form>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 p-3">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">Skills</h5>
            </div>
            <div class="card-body table-responsive">
                {{ macros.skill_table(account.skills) }}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}