{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block body %}
<div class="row">
  <div class="col m-4">
    <h2 class="text-center">Login</h2>
    <p class="text-center">{{ error }}</p>
    <form method="POST" action="{{ url_for('login') }}" class="form">
      
      {{ macros.input(form.username.label, "username", form.username.errors) }}
      {{ macros.input(form.password.label, "password", form.password.errors, type="password") }}

      <input type="submit" class="btn btn-dark" style="width: 100%;" value="Login"/>
    </form>
  </div>
</div>
{% endblock %}