{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block body %}

{{ macros.banner("Add skills") }}

<div class="row m-4">
  <div class="col-12 col-md-6 table-responsive">
    <h2>Skills and experience</h2>

    {{ macros.skill_table(current_user.skills, current_user) }}

  </div>
  <div class="col-12 col-md-6">
    <h2 class="text-center">Add skills to your CV</h2>
    <p class="text-center" style="color: red;">{{ error }}</p>
    <form method="POST" action="{{ url_for('skills_create') }}" class="form">

      {{ macros.input(form.name.label, "name", form.name.errors, placeholder="for example 'Java' or 'Scrum'") }}

      <h6>Work experience</h6>
      <div class="row">
        <div class="col">
          {{ macros.input(label="Years", name="work_experience_years", errors=form.work_experience_years.errors, value=0, type="number", placeholder="years") }}
        </div>
        <div class="col">
          {{ macros.input(label="Months", name="work_experience_months", errors=form.work_experience_months.errors, value=0, type="number", placeholder="months") }}
        </div>
      </div>

      <h6>Other experience</h6>
      <div class="row">
        <div class="col">
          {{ macros.input(label="Years", name="other_experience_years", errors=form.other_experience_years.errors, value=0, type="number", placeholder="years") }}
        </div>
        <div class="col">
          {{ macros.input(label="Months", name="other_experience_months", errors=form.other_experience_months.errors, value=0, type="number", placeholder="months") }}
        </div>
      </div>

      <input type="submit" class="btn btn-dark" style="width: 100%;" value="Add skill"/>
    </form>
  </div>

</div>
{% endblock %}