{% extends "layout.html" %}
{% import "forms.html" as forms %}

{% block body %}
<div class="row m-4">
  <div class="col-12 col-md-4">
    <h2>Your current skills</h2>
    {% for skill in current_user.skills %}
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ skill.name }}</h5>
          <p class="card-text">Experience</p>
        </div>
      </div>
    {% endfor%}
  </div>
  <div class="col-12 col-md-8">
    <h2 class="text-center">Add skills to your CV</h2>
    <form method="POST" action="{{ url_for('skills_create') }}" class="form">

      {{ forms.input(form.name.label, "name", form.name.errors, placeholder="for example 'Java' or 'Scrum'") }}
      <input type="submit" class="btn btn-dark" style="width: 100%;" value="Add skill"/>
    </form>
  </div>

</div>
{% endblock %}