{% extends "layout.html" %}
  
{% block body %}

<h2>Your skills</h2>
{% for skill in current_user.skills %}
  <p>{{ skill.name }}</p>
{% endfor%}

<form method="POST" action="{{ url_for('skills_create') }}" class="form">
  <div class="form-group">
    {{ form.name.label }}
    {{ form.name(class="form-control") }}
  
    {% for error in form.name.errors %}
      <small class="form-text text-muted">{{ error }}</small>
    {% endfor %}  
  </div>

  <input type="submit" class="btn btn-dark" style="width: 100%;" value="Add skill"/>
</form>
{% endblock %}