{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block body %}

{{ macros.banner("My skills") }}

<div class="row">
  <div class="col form">
    {% for skill in skills %}
    <div class="row mt-4">
      <div class="col">
        <h3 class="mb-4" style="color: red;">{{ skill.name }}</h3>
      </div>
      <div class="col">
        <form method="POST" action="{{ url_for('skills_delete', skill_id=skill.id) }}">
          <input type="submit" class="btn btn-danger" style="width: 100%;" value="Delete {{ skill.name }}"/>
        </form>
      </div>
    </div>
    <p class="text-center" style="color: red;">{{ error }}</p>
    <form method="POST" action="{{ url_for('skills_update', skill_id=skill.id) }}">
        <input type="hidden" value="{{ skill.name }}" name="name" >

        {% for experience in skill.experiences %}
          {% set years = (experience.experience / 12) | int %}
          {% set months = experience.experience % 12 %}

          {% if experience.experience_type == "Work experience" %}
          <h6>Work experience</h6>
          <div class="row">
            <div class="col">
              {{ macros.input(label="Years", name="work_experience_years", errors=form.work_experience_years.errors, value=years, type="number", placeholder="years") }}
            </div>
            <div class="col">
              {{ macros.input(label="Months", name="work_experience_months", errors=form.work_experience_months.errors, value=months, type="number", placeholder="months") }}
            </div>
          </div>
          {% else %}
          <h6>Other experience</h6>
          <div class="row">
            <div class="col">
              {{ macros.input(label="Years", name="other_experience_years", errors=form.other_experience_years.errors, value=years, type="number", placeholder="years") }}
            </div>
            <div class="col">
              {{ macros.input(label="Months", name="other_experience_months", errors=form.other_experience_months.errors, value=months, type="number", placeholder="months") }}
            </div>
          </div>  
          {% endif %}

        {% endfor %}
       
        <input type="submit" class="btn btn-dark mb-4" style="width: 100%;" value="Update skill"/>
    </form>
    {% endfor %}
  </div>
</div>
{% endblock %}